body {
    font-family: 'Josefin Sans', sans-serif;
    font-size:18px;
    text-align: center;
}

h1 {
    color:red;
}

h2 {
    color:#8108d8;
}

h4 {
    color:rgb(214, 79, 0);
}

#header{
    list-style-type: none;
}

#header > li {
    display: inline;
    margin: 0 25px;
}

.inside-list {
    list-style-position: inside;
}

.text-bold {
    font-weight: bold;
}
